version: "3.8"
services:
#  mongo:
#    image: mongo:7.0
#    ports:
#      - 27017:27017
#    networks:
#      - db
#    volumes:
#      - mongodb:/data/db
#  main-server:
#    restart: on-failure
#    image: nestjs-api
#    ports:
#      - "8888:8888"
#    depends_on:
#      - mongo
#    networks:
#      - db
#      - app
  client:
    build:
      context: ./client
      dockerfile: Dockerfile-dev
    command: sh -c "./start-dev.sh"
    volumes:
      - ./client/:/user/src/app
    environment:
      - REACT_APP_API_URL=https://temperaturki.bieda.it
    ports:
      - "3000:3000"
    networks:
      - app

networks:
  db:
  app:

