version: "3.8"
services:
  mongo:
    image: mongo:7.0
    ports:
      - 27017:27017
    networks:
      - db
    volumes:
      - mongodb:/data/db
  main-server:
    restart: on-failure
    image: nestjs-api
    build:
      context: ./main-server
      dockerfile: Dockerfile-dev
    volumes:
      - ./main-server/:/user/src/main-server
    command: sh -c "./start-dev.sh"
    env_file:
      - ./main-server/.env
    ports:
      - "8888:8888"
    depends_on:
      - mongo
      - mailhog
    networks:
      - db
      - app
  mailhog:
    image: mailhog/mailhog:v1.0.1
    ports:
      - "1025:1025"
      - "8025:8025"
    networks:
      - app
  client:
    build:
      context: ./client
      dockerfile: Dockerfile-dev
    command: sh -c "./start-dev.sh"
    volumes:
      - ./client/:/user/src/app
    environment:
      - REACT_APP_API_URL=http://main-server:8888
    ports:
      - "3000:3000"
    networks:
      - app

volumes:
   mongodb:

networks:
  db:
  app:
