@import '../variables';

.actual-temps {
  padding: 18px 0 30px 0;

  &__title {
    display: block;
    padding: 6px 0 12px;
    font-weight: 700;
    color: $blueZodiac;
  }

  &__row {
    border: 1px solid rgba(22, 41, 85, 0.08);
    border-radius: 12px;
    box-shadow: 0 6px 16px rgba(22, 41, 85, 0.05);
    margin-bottom: 12px;

    &--secondary {
      color: transparentize($sanJuan, 0.5);
    }

    .card-body {
      display: flex;
      justify-content: space-between;
      align-content: space-between;
      align-items: center;

      .actual-temps__row-value {
        margin-right: 8px;
        padding: 6px 10px;
        font-weight: 700;
        background-color: rgba(79, 98, 142, 0.12);
        border-radius: 10px;
        min-width: 64px;
        text-align: center;
        color: $blueZodiac;
        display: flex;
        align-items: center;
      }
    }
  }
}
