@import '../variables';

.dashboard {
  &__settings {
    padding: 10px 0;
    border-bottom: 1px solid transparentize($sanJuan, 0.5);
    border-top: 1px solid transparentize($sanJuan, 0.5);
    display: flex;
    &--action {
      cursor: pointer;
      padding: 10px;
      border-radius: 4px;
      &:hover {
        background-color: transparentize($sanJuan, 0.9);
      }
    }
  }
  &__widgets {
    padding: 20px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

    &__widget {
      margin: 10px;
    }
  }
}
