@import "../variables";

.widget {
  border: 1px solid $bermudaGray;
  border-radius: 4px;
  margin: 20px 0;
  position: relative;
  &__menu {
    border-bottom: 1px solid transparentize($Zorba, 0.5);
    height: 40px;
    margin-bottom: 20px;
    &--action {
      display: flex;
      height: 100%;
      justify-content: space-between;
      align-items: center;
      .fa-trash-alt {
        color: red;
        &:hover {
          cursor: pointer;
        }
      }
    }
  }

  .loading-overlay {
    position: absolute;
    left: 0;
    right: 0;
    top:0;
    bottom: 0;
    z-index: 20;
    opacity: 1;
    background-color: transparentize($blueZodiac, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
  }

}