@import '../variables';

.widget {
  border: 1px solid $bermudaGray;
  border-radius: 4px;
  margin: 20px 0;
  position: relative;
  &__menu {
    border-bottom: 1px solid transparentize($Zorba, 0.5);
    min-height: 60px;
    //margin-bottom: 20px;
    display: grid;
    grid-template-columns: auto 1fr auto;
    grid-template-areas: 'ranges title actions';
    align-items: center;
    column-gap: 10px;
    padding: 0 10px;
  }

  &__menu-title {
    margin: 0;
    font-weight: 600;
    text-align: center;
    grid-area: title;
  }

  &__menu-actions {
    display: flex;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    margin-right: 4px;
    grid-area: actions;

    .icon {
      font-size: 18px !important;
    }

    &--remove {
      color: red;
    }
  }

  .widget-date-range-picker {
    grid-area: ranges;
  }

  @media screen and (max-width: 600px) {
    &__menu {
      grid-template-columns: 1fr auto;
      grid-template-areas:
        'title actions'
        'ranges ranges';
      row-gap: 6px;
      padding: 6px 10px 10px;
    }
  }

  .loading-overlay {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 20;
    opacity: 1;
    background-color: transparentize($blueZodiac, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
