@import '../variables';

.widget-date-range-picker {
  padding: 0;
  color: transparentize($deepCove, 0.4);
  font-size: 18px;

  &__title {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-wrap: wrap;
  }

  &__range {
    cursor: pointer;
    font-weight: 600;
    padding: 0 8px;


    &:hover {
      color: $sanJuan;
    }

    &.active {
      font-weight: 800;
      color: crimson;
    }
  }

  @media screen and (max-width: 600px) {
    width: 100%;
    padding: 8px 0 0;

    &__title {
      align-items: center;
      justify-content: space-between;
      width: 100%;
      gap: 6px 10px;
    }

    &__range {
      padding: 0 6px;
    }
  }

}
