.list-group {
  padding: 20px 0;

  .list-group-item {
    cursor: pointer;
  }
}

.location-id {
  font-size: 12px;
  color: gray;
}

.location-ws {
  font-size: 11px;
  color: gray;
  margin-left: 20px;

  @media screen and (max-width: 1000px) {
    display: none;
  }
}
