$sanJuan: #2E4272;
$bermudaGray: #7887AB;
$kashmirBlue: #4F628E;
$blueZodiac: #162955;
$deepCove: #061539;

$fuscousGray: #514F4E;
$shuttleGray: #565D63;
$Boulder: #787473;
$Zorba: #9B9793;
$Westar: #E0DBD7;