$sanJuan: #2e4272;
$bermudaGray: #7887ab;
$kashmirBlue: #4f628e;
$blueZodiac: #162955;
$deepCove: #061539;

$fuscousGray: #514f4e;
$shuttleGray: #565d63;
$Boulder: #787473;
$Zorba: #9b9793;
$Westar: #e0dbd7;
